.149_40 { 
	overflow:hidden;
}.e149_40 { 
	background-image:linear-gradient(0deg, rgba(55.00000052154064, 9.000000413507223, 56.000000461936, 0.9399999976158142) 0%,rgba(139.0000069141388, 0, 0, 0.4399999976158142) 100%) ;
	width:390px;
	height:844px;
	position:absolute;
}.e149_41 { 
	width:390px;
	height:34px;
	position:absolute;
	left:0px;
	top:36px;
}.e149_42 { 
	transform: rotate(-179.9999986726043deg);
	width:390px;
	height:0px;
	position:absolute;
	left:390px;
	top:17.0000057220459px;
}.149_42 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e149_43 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:17px;
	position:absolute;
	left:117px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e149_44 { 
	width:390px;
	height:77px;
	position:absolute;
	left:0px;
	top:767px;
}.e149_46 { 
	width:66px;
	height:66px;
	position:absolute;
	left:75px;
	top:1px;
	border-top-left-radius:120px;
	border-top-right-radius:120px;
	border-bottom-left-radius:120px;
	border-bottom-right-radius:120px;
}.ei149_46_7_1750 { 
	background-color:rgba(255, 255, 0, 1);
	width:53.62505340576172px;
	height:53.622314453125px;
	position:absolute;
	left:6.190185546875px;
	top:6.1875px;
}.e149_47 { 
	width:66px;
	height:66px;
	position:absolute;
	left:162px;
	top:1px;
}.ei149_47_7_2447 { 
	background-color:rgba(255, 255, 255, 1);
	width:53.625px;
	height:53.62841033935547px;
	position:absolute;
	left:6.1875px;
	top:6.18414306640625px;
}.e149_48 { 
	width:66px;
	height:66px;
	position:absolute;
	left:244px;
	top:1px;
}.ei149_48_7_2608 { 
	background-color:rgba(255, 255, 255, 1);
	width:59.125px;
	height:53.625px;
	position:absolute;
	left:3.4375px;
	top:6.1875px;
}.e149_50 { 
	transform: rotate(-0.14998859983791926deg);
	width:390.00128173828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:1.02093505859375px;
}.149_50 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e149_61 { 
	width:390px;
	height:157px;
	position:absolute;
	left:0px;
	top:283px;
}.e149_62 { 
	color:rgba(255, 255, 255, 1);
	width:207px;
	height:133px;
	position:absolute;
	left:50px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e149_63 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:17px;
	position:absolute;
	left:211px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e149_64 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:390px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
}.e149_65 { 
	border-radius:500px;
	background-color:rgba(255, 122.3999972641468, 0, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:371px;
	top:2px;
}.e149_66 { 
	width:47px;
	height:47px;
	position:absolute;
	left:319px;
	top:0px;
	border-top-left-radius:107px;
	border-top-right-radius:107px;
	border-bottom-left-radius:107px;
	border-bottom-right-radius:107px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e149_53 { 
	width:390px;
	height:98px;
	position:absolute;
	left:0px;
	top:149px;
}.e149_54 { 
	color:rgba(255, 255, 255, 1);
	width:304px;
	height:74px;
	position:absolute;
	left:82px;
	top:24px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e149_55 { 
	color:rgba(255, 255, 255, 1);
	width:146px;
	height:17px;
	position:absolute;
	left:82px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e149_56 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:390px;
	height:47px;
	position:absolute;
	left:0px;
	top:5px;
}.e149_57 { 
	border-radius:500px;
	background-color:rgba(0, 100.00000163912773, 0, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:3px;
	top:0px;
}.e149_58 { 
	width:47px;
	height:47px;
	position:absolute;
	left:23px;
	top:0px;
	border-top-left-radius:107px;
	border-top-right-radius:107px;
	border-bottom-left-radius:107px;
	border-bottom-right-radius:107px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e150_117 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:49px;
	position:absolute;
	left:13px;
	top:74px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e222_30 { 
	width:37px;
	height:37px;
	position:absolute;
	left:13px;
	top:94px;
}.ei222_30_7_63 { 
	background-color:rgba(255, 255, 255, 1);
	width:30.059288024902344px;
	height:23.89699935913086px;
	position:absolute;
	left:3.472137451171875px;
	top:6.552459716796875px;
}