.105_88 { 
	overflow:hidden;
}.e105_88 { 
	background-image:linear-gradient(0deg, rgba(55.00000052154064, 9.000000413507223, 56.000000461936, 0.9399999976158142) 0%,rgba(139.0000069141388, 0, 0, 0.4399999976158142) 100%) ;
	width:390px;
	height:844px;
	position:absolute;
}.e105_89 { 
	width:308px;
	height:683px;
	position:absolute;
	left:41px;
	top:70px;
}.e105_90 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:307px;
	height:683px;
	position:absolute;
	left:0px;
	top:0px;
}.e108_25 { 
	width:307px;
	height:194px;
	position:absolute;
	left:0px;
	top:54px;
}.e107_116 { 
	color:rgba(255, 255, 255, 1);
	width:307px;
	height:194px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e107_118 { 
	width:307px;
	height:127px;
	position:absolute;
	left:0px;
	top:67px;
	background-image:url(images/info_actualit__jeu.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e108_24 { 
	width:307px;
	height:37px;
	position:absolute;
	left:0px;
	top:10px;
}.e108_22 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:307px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.108_22 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e108_23 { 
	color:rgba(255, 255, 255, 1);
	width:164px;
	height:17px;
	position:absolute;
	left:12px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e110_51 { 
	width:37px;
	height:37px;
	position:absolute;
	left:270px;
	top:0px;
}.ei110_51_7_3825 { 
	background-color:rgba(255, 255, 255, 1);
	width:30.06216049194336px;
	height:30.0625px;
	position:absolute;
	left:3.46875px;
	top:3.46875px;
}.e115_149 { 
	width:308px;
	height:291px;
	position:absolute;
	left:0px;
	top:293px;
}.e107_126 { 
	width:307px;
	height:97px;
	position:absolute;
	left:1px;
	top:0px;
}.e107_124 { 
	width:37px;
	height:37px;
	position:absolute;
	left:7px;
	top:0px;
	border-top-left-radius:107px;
	border-top-right-radius:107px;
	border-bottom-left-radius:107px;
	border-bottom-right-radius:107px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e107_125 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:17px;
	position:absolute;
	left:44px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e110_26 { 
	color:rgba(255, 255, 255, 1);
	width:279px;
	height:44px;
	position:absolute;
	left:13px;
	top:53px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e110_41 { 
	width:307px;
	height:97px;
	position:absolute;
	left:0px;
	top:97px;
}.e110_43 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:17px;
	position:absolute;
	left:44px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e110_44 { 
	color:rgba(255, 255, 255, 1);
	width:279px;
	height:44px;
	position:absolute;
	left:13px;
	top:53px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e110_49 { 
	width:37px;
	height:37px;
	position:absolute;
	left:7px;
	top:0px;
	border-top-left-radius:107px;
	border-top-right-radius:107px;
	border-bottom-left-radius:107px;
	border-bottom-right-radius:107px;
	background-image:url(images/rectangle_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e110_45 { 
	width:307px;
	height:97px;
	position:absolute;
	left:1px;
	top:194px;
}.e110_46 { 
	width:37px;
	height:37px;
	position:absolute;
	left:7px;
	top:0px;
	border-top-left-radius:107px;
	border-top-right-radius:107px;
	border-bottom-left-radius:107px;
	border-bottom-right-radius:107px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e110_47 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:17px;
	position:absolute;
	left:44px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e110_48 { 
	color:rgba(255, 255, 255, 1);
	width:279px;
	height:44px;
	position:absolute;
	left:13px;
	top:53px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e110_96 { 
	width:390px;
	height:77px;
	position:absolute;
	left:0px;
	top:767px;
}.e110_97 { 
	width:66px;
	height:66px;
	position:absolute;
	left:80px;
	top:1px;
	border-top-left-radius:120px;
	border-top-right-radius:120px;
	border-bottom-left-radius:120px;
	border-bottom-right-radius:120px;
}.ei110_97_7_1750 { 
	background-color:rgba(255, 255, 255, 1);
	width:53.62505340576172px;
	height:53.622314453125px;
	position:absolute;
	left:6.190185546875px;
	top:6.1875px;
}.e110_99 { 
	width:66px;
	height:66px;
	position:absolute;
	left:161px;
	top:1px;
}.ei110_99_7_2447 { 
	background-color:rgba(255, 255, 0, 1);
	width:53.625px;
	height:53.62841033935547px;
	position:absolute;
	left:6.1875px;
	top:6.18414306640625px;
}.e110_101 { 
	width:66px;
	height:66px;
	position:absolute;
	left:244px;
	top:1px;
}.ei110_101_7_2608 { 
	background-color:rgba(255, 255, 255, 1);
	width:59.125px;
	height:53.625px;
	position:absolute;
	left:3.4375px;
	top:6.1875px;
}.e110_92 { 
	transform: rotate(-0.14998859983791926deg);
	width:390.00128173828125px;
	height:0px;
	position:absolute;
	left:0px;
	top:2.02093505859375px;
}.110_92 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e121_182 { 
	width:390px;
	height:34px;
	position:absolute;
	left:0px;
	top:36px;
}.e121_183 { 
	transform: rotate(-179.9999986726043deg);
	width:390px;
	height:0px;
	position:absolute;
	left:390px;
	top:17.0000057220459px;
}.121_183 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e121_184 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:17px;
	position:absolute;
	left:117px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}