* {
    box-sizing: border-box;
}



.Nomlabel {
    position: absolute;
    width: 164px;
    height: 34px;
    left: 7px;
    top: 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;


    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.Prenomlabel {
    position: absolute;
    width: 164px;
    height: 34px;
    left: 7px;
    top: 145px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.Pseudolabel {
    position: absolute;
    width: 164px;
    height: 34px;
    left: 7px;
    top: 262px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;


    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.Datelabel {
    position: absolute;
    width: 75px;
    height: 34px;
    left: 7px;
    top: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;


    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.Emaillabel {
    position: absolute;
    width: 75px;
    height: 34px;
    left: 7px;
    top: 325px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;


    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.Motdepasselabel {
    position: absolute;
    width: 77px;
    height: 34px;
    left: 7px;
    top: 377px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;


    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}


.nom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    isolation: isolate;
    position: absolute;
    width: 227px;
    height: 34px;
    left: 77px;
    top: 81px;
    background: #D9D9D9;
    border-radius: 8px;
}



.pseudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 266px;
    height: 34px;
    left: 62px;
    top: 81px;

    background: #D9D9D9;
    border-radius: 8px;
}

.password {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    isolation: isolate;
    position: absolute;
    width: 227px;
    height: 34px;
    left: 77px;
    top: 377px;
    background: #D9D9D9;
    border-radius: 8px;
}

body {
    background: linear-gradient(180deg, rgba(55, 9, 56, 0.94) 0%, rgba(139, 0, 0, 0.92) 100%);
    background-size: contain;
    height: 100vh;
    color: white;
    margin: 0;
}



.convblanc {
    position: relative;
    left: 78px;
    right: 9px;
    top: 672px;
    bottom: 9px;
}

.convblan {
    position: relative;
    left: 78px;
    right: 9px;
    top: 620px;
    bottom: 9px;
}

.amis {
    position: relative;
    left: 246px;
    right: 9px;
    top: 523px;
    bottom: 9px;
    display: flex;
}

.amisj {
    position: relative;
    left: 246px;
    right: 9px;
    top: 479px;
    bottom: 9px;
    display: flex;
}

.amisb {
    position: relative;
    left: 246px;
    right: 9px;
    top: 495px;
    bottom: 9px;
    display: flex;
}

.accueilb {
    position: relative;
    left: 161px;
    right: 9px;
    top: 566px;
    bottom: 9px;
    display: flex;
}



.logotexte {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    isolation: isolate;

    position: absolute;
    width: 390px;
    height: 34px;
    left: 0px;
    top: 36px;
}


.prénom {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    isolation: isolate;
    position: relative;
    width: 227px;
    height: 34px;
    left: 77px;
    top: 100px;
    background: #D9D9D9;
    border-radius: 8px;
}


.Pseudo {

    position: absolute;
    width: 164px;
    height: 34px;
    left: 26px;
    top: 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;


    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.pseudo {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    isolation: isolate;
    position: relative;
    width: 227px;
    height: 34px;
    left: 77px;
    top: 61px;
    background: #D9D9D9;
    border-radius: 8px;
}

.date {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    isolation: isolate;
    position: relative;
    width: 227px;
    height: 34px;
    left: 77px;
    top: 83px;
    background: #D9D9D9;
    border-radius: 8px;
}

.inscription {

    color: white;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 195px;
    height: 39px;
    left: 104px;
    top: 370px;
}

.filtre {
    list-style: none;
    border: black;
}

.continuer {
    background-color: black;
    color: white;
    width: 266px;
    height: 64px;
    left: 57px;
    top: 26px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
}

.buttonaccueil {
    background-color: black;
    color: white;
    width: 266px;
    height: 64px;
    left: 70px;
    top: 350px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
}


.email2 {

    position: absolute;
    width: 164px;

    left: 46px;
    top: 91px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;


    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.mail2 {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    position: relative;
    width: 300px;
    height: 34px;
    left: 45px;
    top: 135px;
    border-radius: 8px;
}

.mail {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    position: relative;
    width: 227px;
    height: 34px;
    left: 77px;
    top: 40px;
    border-radius: 8px;
    background-color: #D9D9D9;
}

.motdepasse2 {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    position: relative;
    width: 328px;

    left: 45px;
    top: 110px;
    border-radius: 8px;
}

input[type="email"] {
    padding-left: 10px;
}

input[type="password"] {
    padding-left: 10px;
}

.password2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10;
    position: relative;
    width: 300px;
    height: 34px;
    left: 45px;
    top: 135px;
    border-radius: 8px;

}

.ou {
    position: relative;
    width: 390px;
    height: 16px;
    left: 110px;
    top: 17px;
}


.accueil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 274px;
    height: 54px;
    position: relative;
    background: #000000;
    border-radius: 50px;
    color: #ffffff;
    border: none;
    top: 117px;
    left: 59px;
}


.accueilj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 274px;
    height: 54px;
    position: relative;
    border-radius: 50px;
    color: #ffffff;
    border: none;
    top: 592px;
    left: 60px;
}

.convjaune {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 273px;
    height: 51px;
    position: relative;
    border-radius: 50px;
    color: #ffffff;
    border: none;
    top: 627px;
    left: -21px;
}


.logo {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    position: absolute;
    top: 478px;
    left: 74;
    left: 78px;
}

.logo2 {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    top: 546px;
    left: 78px;
}

.logo_inscription {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    position: absolute;
    top: 532px;
    left: 74;
    left: 67px;
}

.logo2_inscription {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    top: 604px;
    left: 67px;
}



.test {
    text-justify: left;
}

.sliders {
    display: flex;
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    left: 326px;
    top: 81px;
    background-repeat: no-repeat;
    background-size: cover;
}


.course {
    display: flex;
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    left: 20px;
    top: 159px;
    background-repeat: no-repeat;
    background-size: cover;
}

.arcade {
    display: flex;
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    left: 20px;
    top: 186px;
    background-repeat: no-repeat;
    background-size: cover;
}

.rpg {
    display: flex;
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    left: 20px;
    top: 215px;
    background-repeat: no-repeat;
    background-size: cover;
}

.tir {
    display: flex;
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    left: 20px;
    top: 243px;
    background-repeat: no-repeat;
    background-size: cover;
}

.multi {
    display: flex;
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    left: 20px;
    top: 253px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ptitfantome {
    display: flex;
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    left: 20px;
    top: 257px;
    background-repeat: no-repeat;
    background-size: cover;
}

.filtres {
    position: absolute;
    width: 144px;
    height: 37px;
    left: 64px;
    top: 81px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.courses {
    /* Courses */
    position: absolute;
    width: 144px;
    height: 37px;
    left: 125px;
    top: 138px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.arcades {
    /* Arcades */
    position: absolute;
    width: 144px;
    height: 37px;
    left: 125px;
    top: 214px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.roles {
    /* Roles */
    position: absolute;
    width: 144px;
    height: 37px;
    left: 125px;
    top: 290px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.tirs {
    /* Tirs */
    position: absolute;
    width: 144px;
    height: 37px;
    left: 125px;
    top: 365px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}


.multijoueurs {
    /* Multijoueurs */
    position: absolute;
    width: 144px;
    height: 37px;
    left: 123px;
    top: 419px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.horreurs {
    /* Horreurs */
    position: absolute;
    width: 144px;
    height: 37px;
    left: 125px;
    top: 470px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.imgvalider {
    position: relative;
    left: 192px;
    right: 158px;
    top: 165px;
    bottom: 11px;
}

.imgrefuser {
    position: relative;
    left: 220px;
    right: 10px;
    top: 165px;
    bottom: 11px;
}

.imgvalider2 {
    position: relative;
    left: 192px;
    right: 158px;
    top: 191px;
    bottom: 11px;
}

.imgrefuser2 {
    position: relative;
    left: 220px;
    right: 10px;
    top: 191px;
    bottom: 11px;
}

.imgvalider3 {
    position: relative;
    left: 192px;
    right: 158px;
    top: 218px;
    bottom: 11px;
}

.imgrefuser3 {
    position: relative;
    left: 220px;
    right: 10px;
    top: 218px;
    bottom: 11px;
}

.imgvalider4 {
    position: relative;
    left: 192px;
    right: 158px;
    top: 247px;
    bottom: 11px;
}

.imgrefuser4 {
    position: relative;
    left: 220px;
    right: 10px;
    top: 247px;
    bottom: 11px;
}

.imgvalider5 {
    position: relative;
    left: 192px;
    right: 158px;
    top: 253px;
    bottom: 11px;
}

.imgrefuser5 {
    position: relative;
    left: 220px;
    right: 10px;
    top: 253px;
    bottom: 11px;
}

.imgvalider6 {
    position: relative;
    left: 192px;
    right: 158px;
    top: 260px;
    bottom: 11px;
}

.imgrefuser6 {
    position: relative;
    left: 220px;
    right: 10px;
    top: 260px;
    bottom: 11px;
}

input[type="radio"].masque {
    display: none;
}

input:checked+label img {
    border: 1px solid white;
}

.masque {
    display: none;
}

.vente{
    max-width: 100%;
    max-height: 70px;
    display: flex;
    position: absolute;
    left: 47px;
    top: 107px;
}

.gta{
    max-width: 100%;
    max-height: 49px;
    display: flex;
    position: absolute;
    left: 47px;
    top: 237px;
}

.info{
    max-width: 100%;
    max-height: 64px;
    display: flex;
    position: absolute;
    left: 47px;
    top: 347px;
}

.friends{
    max-width: 100%;
    max-height: 70px;
    display: flex;
    position: absolute;
    left: 47px;
    top: 107px;
}

.age{
    max-width: 100%;
    max-height: 49px;
    display: flex;
    position: absolute;
    left: 47px;
    top: 135px;
}

.jeu{
    max-width: 100%;
    max-height: 64px;
    display: flex;
    position: absolute;
    left: 47px;
    top: 161px;
}

.mon-message{
    max-width: 100%;
    max-height: 64px;
    display: flex;
    position: absolute;
    left: 47px;
    top: 161px;
}